# Dependencias
node_modules/

# Configuración y Secretos
.env
config.json
sent_log.json

# Sesión de WhatsApp (IMPORTANTE: No subir esto a menos que uses Render Disk)
.wwebjs_auth/
.wwebjs_cache/

# Logs
*.log
npm-debug.log*

# Otros
.DS_Store
dist/
build/
